body {
  padding: 30px;
  font-family: cursive, Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  ul {
    list-style: none;
  }

  .font-solid {
    color: #fafafa;
    text-shadow: 0px 1px 0px #999,
    0px 2px 0px #888,
    0px 3px 0px #777,
    0px 3px 0px #666,
    0px 3px 0px #555,
    0px 5px 0px #444,
    0px 7px 0px #333,
    0px 8px 1px #001135;
  }

  .press {
    text-shadow: 0 1px 1px #FFF;
    color: #717171;
    background: #d3d3d3;
  }

  .thumbnail:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.6s;
    transform-style: preserve-3d;
  }

  @keyframes h2_silde {
    from {
      margin-bottom: 100%;
    }

    to {
      width: 100%;
    }
  }

  .slide {
    animation: h2_silde 7s;
    animation-direction: alternate-reverse;
    -moz-animation: h2_silde 7s; /* Firefox */
    -webkit-animation: h2_silde 7s; /* Safari and Chrome */
    -o-animation: h2_silde 7s; /* Opera */
  }

  header {
    video {
      width: 80px;
      border-radius: 50px;
      margin-right: 20px;
    }

    .icon {
      position: absolute;
      top: 4%;
      font-size: 30px;
    }

    img {
      width: 50px;
      height: 40px;
      margin-top: -25px;
      margin-right: 15px;
    }

    a {
      color: #999;
    }
    .main {
      background-image: url("../../images/panel.jpg");
      width: 100%;
      height: 525px;
      background-size: cover;
      margin: 15px 0 50px 0;

      h2 {
        margin-left: 20px;
        padding-top: 30px;
      }

      h3 {
        margin-left: 40px;
      }

      h4 {
        margin: 20px 0 20px 60px;
      }

      p {
        font-size: 20px;
        margin: 20px 0 20px 70px;
      }

      span {
        font-size: 18px;
        margin-left: 110px;
      }
    }


  }

  .container {


    h3 {
      color: #999;
    }
  }

  footer {
    border-top: 1px solid #cccccc;
    color: #999;

    .contact {
      margin-top: 30px;

      i {
        margin-left: 15px;
        font-size: 20px;
      }
    }
  }
}